{% load staticfiles %}
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        .jumbotron{
            padding: 1em;
            color: #f199bc
        }
        #eyes{
            font-size: 100px;
        }
    </style>
    <title>IZ*ONE</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a href="" class="navbar-brand">IZ*ONE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="post/" class="nav-link">자유게시판</a></li>
                        <li class="nav-item"><a href="album/" class="nav-link">앨범</a></li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}}<span class="caret"></span></a>
                            <ul class="dropdown-menu bg-dark">
                        <li class="nav-item"><a href="login/" class="nav-link">로그인</a></li>
                        <li class="nav-item"><a href="logout/" class="nav-link">로그아웃</a></li>
                        {% else %}
                        <li class="nav-item"><a href="login/" class="nav-link">로그인</a></li>
                        {% endif %}
                       <!---- 2시간 동안 찾았는데 예쁘지 않아서 주석처리 그래도 나중에 많이 쓰일거 같아서 주석 [메뉴 토글]
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">갤러리<span class="caret"></span></a>
                            <ul class="dropdown-menu bg-dark">
                              <li class="nav-item"><a href="#" class="nav-link"> 권은비</a></li>
                              <div class="dropdown-divider"></div>
                              <li class="nav-item"><a href="#" class="nav-link"> 미야와키 사쿠라</a></li> -->

                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                    <div class="jumbotron">
                        <div class="text-center">
                            <div id="eyes">
                                IZ*ONE
                            </div>
                        </div>
                        <div class="text-center">
                            <p>Eyes On Me! 하나가 되는 순간 모두가 주목해! 안녕하세요. IZ*ONE 입니다.</p>
                            <p>Eyes On Me！ こんにちは、IZ*ONE です。</p>
                        </div>
                    </div>
                </div>
                <div class="py-5 bg-light">
                        <div class="container">
                            <div class="row justify-content-around">
                                <div class="col-md-3">
                                    <div class="card mb-3 shadow-sm">
                                        <img alt="권은비" height="" src="static/img/권은비.jpg" width="100%">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <p>
                                                     이름: 권은비
                                                </p>
                                                <p>
                                                     생일: 1995.9.27
                                                </p>
                                                <p>
                                                     신체: 160cm, 46kg, A형
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-end align-items-center">
                                                <div class="btn-group">
                                                    <a href="https://namu.wiki/w/%EA%B6%8C%EC%9D%80%EB%B9%84">
                                                    <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-3 shadow-sm">
                                        <img alt="사쿠라" height="" src="static/img/사쿠라.jpg" width="100%">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <p>
                                                     이름: 미야와키 사쿠라
                                                </p>
                                                <p>
                                                     생일: 1998.3.19
                                                </p>
                                                <p>
                                                     신체: 163cm, 43kg, A형
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-end align-items-center">
                                                <div class="btn-group">
                                                    <a href="https://namu.wiki/w/%EB%AF%B8%EC%95%BC%EC%99%80%ED%82%A4%20%EC%82%AC%EC%BF%A0%EB%9D%BC">
                                                    <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-3 shadow-sm">
                                        <img alt="강혜원" height="" src="static/img/강혜원.jpg" width="100%">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <p>
                                                     이름: 강혜원
                                                </p>
                                                <p>
                                                     생일: 1999.7.5
                                                </p>
                                                <p>
                                                     신체: 163cm, 43kg, B형
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-end align-items-center">
                                                <div class="btn-group">
                                                    <a href="https://namu.wiki/w/%EA%B0%95%ED%98%9C%EC%9B%90">
                                                    <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-5 bg-light">
                                    <div class="container">
                                        <div class="row justify-content-around">
                                            <div class="col-md-3">
                                                <div class="card mb-3 shadow-sm">
                                                    <img alt="최예나" height="" src="static/img/최예나.jpg" width="100%">
                                                    <div class="card-body">
                                                        <div class="card-text">
                                                            <p>
                                                                 이름: 최예나
                                                            </p>
                                                            <p>
                                                                 생일: 1999.9.29
                                                            </p>
                                                            <p>
                                                                 신체: 163cm, 45kg, A형
                                                            </p>
                                                        </div>
                                                        <div class="d-flex justify-content-end align-items-center">
                                                            <div class="btn-group">
                                                                <a href="https://namu.wiki/w/%EC%B5%9C%EC%98%88%EB%82%98">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                            </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card mb-3 shadow-sm">
                                                    <img alt="이채연" height="" src="static/img/이채연.jpg" width="100%">
                                                    <div class="card-body">
                                                        <div class="card-text">
                                                            <p>
                                                                 이름: 이채연
                                                            </p>
                                                            <p>
                                                                 생일: 2000.1.11
                                                            </p>
                                                            <p>
                                                                 신체: 165cm, 47kg, A형
                                                            </p>
                                                        </div>
                                                        <div class="d-flex justify-content-end align-items-center">
                                                            <div class="btn-group">
                                                                <a href="https://namu.wiki/w/%EC%9D%B4%EC%B1%84%EC%97%B0(IZ*ONE)">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                            </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card mb-3 shadow-sm">
                                                    <img alt="김채원" height="" src="static/img/김채원.jpg" width="100%">
                                                    <div class="card-body">
                                                        <div class="card-text">
                                                            <p>
                                                                 이름: 김채원
                                                            </p>
                                                            <p>
                                                                 생일: 2000.8.1
                                                            </p>
                                                            <p>
                                                                 신체: 163cm, 42kg, B형
                                                            </p>
                                                        </div>
                                                        <div class="d-flex justify-content-end align-items-center">
                                                            <div class="btn-group">
                                                                <a href="https://namu.wiki/w/%EA%B9%80%EC%B1%84%EC%9B%90(IZ*ONE)">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                            </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="py-5 bg-light">
                                                <div class="container">
                                                    <div class="row justify-content-around">
                                                        <div class="col-md-3">
                                                            <div class="card mb-3 shadow-sm">
                                                                <img alt="김민주" height="" src="static/img/김민주.jpg" width="100%">
                                                                <div class="card-body">
                                                                    <div class="card-text">
                                                                        <p>
                                                                             이름: 김민주
                                                                        </p>
                                                                        <p>
                                                                             생일: 2001.2.5
                                                                        </p>
                                                                        <p>
                                                                             신체: 166cm, 45kg, AB형
                                                                        </p>
                                                                    </div>
                                                                    <div class="d-flex justify-content-end align-items-center">
                                                                        <div class="btn-group">
                                                                            <a href="https://namu.wiki/w/%EA%B9%80%EB%AF%BC%EC%A3%BC(IZ*ONE)">
                                                                            <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                        </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="card mb-3 shadow-sm">
                                                                <img alt="야부키 나코" height="" src="static/img/나코.jpg" width="100%">
                                                                <div class="card-body">
                                                                    <div class="card-text">
                                                                        <p>
                                                                             이름: 야부키 나코
                                                                        </p>
                                                                        <p>
                                                                             생일: 2001.6.18
                                                                        </p>
                                                                        <p>
                                                                             신체: 150cm, 40kg, 미상
                                                                        </p>
                                                                    </div>
                                                                    <div class="d-flex justify-content-end align-items-center">
                                                                        <div class="btn-group">
                                                                            <a href="https://namu.wiki/w/%EC%95%BC%EB%B6%80%ED%82%A4%20%EB%82%98%EC%BD%94">
                                                                            <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                        </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="card mb-3 shadow-sm">
                                                                <img alt="혼다 히토미" height="" src="static/img/히토미.jpg" width="100%">
                                                                <div class="card-body">
                                                                    <div class="card-text">
                                                                        <p>
                                                                             이름: 혼다 히토미
                                                                        </p>
                                                                        <p>
                                                                             생일: 2001.10.6
                                                                        </p>
                                                                        <p>
                                                                             신체: 158cm, 44kg, A형
                                                                        </p>
                                                                    </div>
                                                                    <div class="d-flex justify-content-end align-items-center">
                                                                        <div class="btn-group">
                                                                            <a href="https://namu.wiki/w/%ED%98%BC%EB%8B%A4%20%ED%9E%88%ED%86%A0%EB%AF%B8">
                                                                            <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                        </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                            <div class="container">
                                                            <p></p>
                                                            <br>
                                                                <div class="row justify-content-around">
                                                                    <div class="col-md-3">
                                                                        <div class="card mb-3 shadow-sm">
                                                                            <img alt="조유리" height="" src="static/img/조유리.jpg" width="100%">
                                                                            <div class="card-body">
                                                                                <div class="card-text">
                                                                                    <p>
                                                                                         이름: 조유리
                                                                                    </p>
                                                                                    <p>
                                                                                         생일: 2001.10.22
                                                                                    </p>
                                                                                    <p>
                                                                                         신체: 160cm, 45kg, AB형
                                                                                    </p>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end align-items-center">
                                                                                    <div class="btn-group">
                                                                                        <a href="https://namu.wiki/w/%EC%A1%B0%EC%9C%A0%EB%A6%AC">
                                                                                        <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                                    </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="card mb-3 shadow-sm">
                                                                            <img alt="안유진" height="" src="static/img/안유진.jpg" width="100%">
                                                                            <div class="card-body">
                                                                                <div class="card-text">
                                                                                    <p>
                                                                                         이름: 안유진
                                                                                    </p>
                                                                                    <p>
                                                                                         생일: 2003.9.1
                                                                                    </p>
                                                                                    <p>
                                                                                         신체: 169cm, 48kg, A형
                                                                                    </p>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end align-items-center">
                                                                                    <div class="btn-group">
                                                                                        <a href="https://namu.wiki/w/%EC%95%88%EC%9C%A0%EC%A7%84">
                                                                                        <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                                    </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="card mb-3 shadow-sm">
                                                                            <img alt="장원영" height="" src="static/img/장원영.jpg" width="100%">
                                                                            <div class="card-body">
                                                                                <div class="card-text">
                                                                                    <p>
                                                                                         이름: 장원영
                                                                                    </p>
                                                                                    <p>
                                                                                         생일: 2004.8.31
                                                                                    </p>
                                                                                    <p>
                                                                                         신체: 169cm, 47kg, O형
                                                                                    </p>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end align-items-center">
                                                                                    <div class="btn-group">
                                                                                        <a href="https://namu.wiki/w/%EC%9E%A5%EC%9B%90%EC%98%81(IZ*ONE)">
                                                                                        <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                                        </a>
                                                                                    </div>




        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>