<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        .jumbotron{
            padding: 1em;
            color: #f199bc
        }
        #eyes{
            font-size: 100px;
        }
    </style>
    <title>IZ*ONE</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a href="" class="navbar-brand">IZ*ONE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="post/" class="nav-link">자유게시판</a></li>
                        <li class="nav-item"><a href="album/" class="nav-link">앨범</a></li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}}<span class="caret"></span></a>
                            <ul class="dropdown-menu bg-dark">
                        <li class="nav-item"><a href="login/" class="nav-link">로그인</a></li>
                        <li class="nav-item"><a href="logout/" class="nav-link">로그아웃</a></li>
                        {% else %}
                        <li class="nav-item"><a href="login/" class="nav-link">로그인</a></li>
                        {% endif %}
                       <!---- 2시간 동안 찾았는데 예쁘지 않아서 주석처리 그래도 나중에 많이 쓰일거 같아서 주석 [메뉴 토글]
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">갤러리<span class="caret"></span></a>
                            <ul class="dropdown-menu bg-dark">
                              <li class="nav-item"><a href="#" class="nav-link"> 권은비</a></li>
                              <div class="dropdown-divider"></div>
                              <li class="nav-item"><a href="#" class="nav-link"> 미야와키 사쿠라</a></li> -->

                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                    <div class="jumbotron">
                        <div class="text-center">
                            <div id="eyes">
                                IZ*ONE
                            </div>
                        </div>
                        <div class="text-center">
                            <p>Eyes On Me! 하나가 되는 순간 모두가 주목해! 안녕하세요. IZ*ONE 입니다.</p>
                            <p>Eyes On Me！ こんにちは、IZ*ONE です。</p>
                        </div>
                    </div>
                </div>
                <div class="py-5 bg-light">
                        <div class="container">
                            <div class="row justify-content-around">
                                <div class="col-md-3">
                                    <div class="card mb-3 shadow-sm">
                                        <img alt="권은비" height="" src="https://s3.namuwikiusercontent.com/s/2454e311a9f09988fbd326700ed7c7a4c3ef1ca8d82426065dbbd75e6febbe18ef8bc0fba1436f03282aa3f6f0875a576139b51c86bbd61c1b5ccd31d9f21e4d093c876399519817a5b6d9bfc81accf80442a234780571614d9d9cdd640a8efa" width="100%">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <p>
                                                     이름: 권은비
                                                </p>
                                                <p>
                                                     생일: 1995.9.27
                                                </p>
                                                <p>
                                                     신체: 160cm, 46kg, A형
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-end align-items-center">
                                                <div class="btn-group">
                                                    <a href="https://namu.wiki/w/%EA%B6%8C%EC%9D%80%EB%B9%84">
                                                    <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-3 shadow-sm">
                                        <img alt="사쿠라" height="" src="https://s3.namuwikiusercontent.com/s/ba1d233af26f3d2d69ba7d4ce4b9889f0d5e3ccfae10d4c8bce5b721a7fbdf7d7821249d0651a2b70dfcd1d3a512d73f64e3cd99bb34092bc439354e5d25e682ae2bef4e74e748d9209fae2a165e31f9222f9e64e82eb978755e979e4d336976" width="100%">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <p>
                                                     이름: 미야와키 사쿠라
                                                </p>
                                                <p>
                                                     생일: 1998.3.19
                                                </p>
                                                <p>
                                                     신체: 163cm, 43kg, A형
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-end align-items-center">
                                                <div class="btn-group">
                                                    <a href="https://namu.wiki/w/%EB%AF%B8%EC%95%BC%EC%99%80%ED%82%A4%20%EC%82%AC%EC%BF%A0%EB%9D%BC">
                                                    <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-3 shadow-sm">
                                        <img alt="강혜원" height="" src="https://s3.namuwikiusercontent.com/s/08999374fd8844d3b305bd0cfd3b2c21959a74a2f230efcbcfdb9e9811ace1e3c2cec1d7cc32d81c1d49ec81aee7a0cad726b3231960f461b3b4fba08788354b2748ea7d4acec3237ab90d322d6c03f3d85384857339cc706d87ca6f576161ab" width="100%">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <p>
                                                     이름: 강혜원
                                                </p>
                                                <p>
                                                     생일: 1999.7.5
                                                </p>
                                                <p>
                                                     신체: 163cm, 43kg, B형
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-end align-items-center">
                                                <div class="btn-group">
                                                    <a href="https://namu.wiki/w/%EA%B0%95%ED%98%9C%EC%9B%90">
                                                    <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-5 bg-light">
                                    <div class="container">
                                        <div class="row justify-content-around">
                                            <div class="col-md-3">
                                                <div class="card mb-3 shadow-sm">
                                                    <img alt="최예나" height="" src="https://s3.namuwikiusercontent.com/s/e78b41148a55caaa804dace07d9b0726ead96f24d00a8eb202fd40281e980a5db237fdb74038194572ec16ac19f20374155158f13dade154e0a0bdfa3389454141fe14cba457ad4a28d0f6eb953e7b02fa0fefbd86b175d969fd316c18af5888" width="100%">
                                                    <div class="card-body">
                                                        <div class="card-text">
                                                            <p>
                                                                 이름: 최예나
                                                            </p>
                                                            <p>
                                                                 생일: 1999.9.29
                                                            </p>
                                                            <p>
                                                                 신체: 163cm, 45kg, A형
                                                            </p>
                                                        </div>
                                                        <div class="d-flex justify-content-end align-items-center">
                                                            <div class="btn-group">
                                                                <a href="https://namu.wiki/w/%EC%B5%9C%EC%98%88%EB%82%98">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                            </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card mb-3 shadow-sm">
                                                    <img alt="이채연" height="" src="https://s3.namuwikiusercontent.com/s/b5dc6d005329237df36525c1b345a408b41b458c4d7c48a5122e8849fc926f00514477f4b39b4cf55d5308461655260937785b7b0e9111a57287ff3115427cc65a54418690fc4eaa3656a1cf48abdc60eae785b340640cac8268b5b3f42e6b18" width="100%">
                                                    <div class="card-body">
                                                        <div class="card-text">
                                                            <p>
                                                                 이름: 이채연
                                                            </p>
                                                            <p>
                                                                 생일: 2000.1.11
                                                            </p>
                                                            <p>
                                                                 신체: 165cm, 47kg, A형
                                                            </p>
                                                        </div>
                                                        <div class="d-flex justify-content-end align-items-center">
                                                            <div class="btn-group">
                                                                <a href="https://namu.wiki/w/%EC%9D%B4%EC%B1%84%EC%97%B0(IZ*ONE)">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                            </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card mb-3 shadow-sm">
                                                    <img alt="김채원" height="" src="https://s3.namuwikiusercontent.com/s/6eb4c11f4c139bd9cd9ca56b29a1e21c2a2771ee2dc2d4f4dd4223ee4be469c6ac29a0f3d333fe31c13501821c91041d6209d675457707a12c6f2e7a0da5d1a2c9940e5849408cd2d01c7a9c20b4e710460f74168695008bb5ff3f73055407aa" width="100%">
                                                    <div class="card-body">
                                                        <div class="card-text">
                                                            <p>
                                                                 이름: 김채원
                                                            </p>
                                                            <p>
                                                                 생일: 2000.8.1
                                                            </p>
                                                            <p>
                                                                 신체: 163cm, 42kg, B형
                                                            </p>
                                                        </div>
                                                        <div class="d-flex justify-content-end align-items-center">
                                                            <div class="btn-group">
                                                                <a href="https://namu.wiki/w/%EA%B9%80%EC%B1%84%EC%9B%90(IZ*ONE)">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                            </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="py-5 bg-light">
                                                <div class="container">
                                                    <div class="row justify-content-around">
                                                        <div class="col-md-3">
                                                            <div class="card mb-3 shadow-sm">
                                                                <img alt="김민주" height="" src="https://s3.namuwikiusercontent.com/s/27a8ec719fe55c4e5b25016b67cc50a22395222f80d7cb4bc44ecb60f02bfe9b2a560bda4282876e46bcf24799d8dc8e98d746d7debc041304321eef474f615efc056a2019e460273dcf1c1ed24fda30fc1dba85a7a92ea222d3b87b26be39ff" width="100%">
                                                                <div class="card-body">
                                                                    <div class="card-text">
                                                                        <p>
                                                                             이름: 김민주
                                                                        </p>
                                                                        <p>
                                                                             생일: 2001.2.5
                                                                        </p>
                                                                        <p>
                                                                             신체: 166cm, 45kg, AB형
                                                                        </p>
                                                                    </div>
                                                                    <div class="d-flex justify-content-end align-items-center">
                                                                        <div class="btn-group">
                                                                            <a href="https://namu.wiki/w/%EA%B9%80%EB%AF%BC%EC%A3%BC(IZ*ONE)">
                                                                            <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                        </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="card mb-3 shadow-sm">
                                                                <img alt="야부키 나코" height="" src="https://s3.namuwikiusercontent.com/s/d88fbee49d48d3a3dd063761c5d26df2658fc9177230cca7473deac2feda796f16a399457883bef61da64e9b6cd463b135625a9b40edce00da3b93875cc0a73a73f81379023e266b05b03adced45d1ebbc510e3900eef6a69a2cd7f13f8cf201" width="100%">
                                                                <div class="card-body">
                                                                    <div class="card-text">
                                                                        <p>
                                                                             이름: 야부키 나코
                                                                        </p>
                                                                        <p>
                                                                             생일: 2001.6.18
                                                                        </p>
                                                                        <p>
                                                                             신체: 150cm, 40kg, 미상
                                                                        </p>
                                                                    </div>
                                                                    <div class="d-flex justify-content-end align-items-center">
                                                                        <div class="btn-group">
                                                                            <a href="https://namu.wiki/w/%EC%95%BC%EB%B6%80%ED%82%A4%20%EB%82%98%EC%BD%94">
                                                                            <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                        </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="card mb-3 shadow-sm">
                                                                <img alt="혼다 히토미" height="" src="https://s3.namuwikiusercontent.com/s/b61925e5aaf171efed59a3ce0ff91c25699fccd24a6aad75451e6c7d43806bd7b3e0402efc437f4755179f8e5e91f3c8e2bdb9bb641d19e1583cb4bf2a9fd01e8beef62f3b0958f76bf5a0384979e0f67970827e062d67c7e3af9866af24015c" width="100%">
                                                                <div class="card-body">
                                                                    <div class="card-text">
                                                                        <p>
                                                                             이름: 혼다 히토미
                                                                        </p>
                                                                        <p>
                                                                             생일: 2001.10.6
                                                                        </p>
                                                                        <p>
                                                                             신체: 158cm, 44kg, A형
                                                                        </p>
                                                                    </div>
                                                                    <div class="d-flex justify-content-end align-items-center">
                                                                        <div class="btn-group">
                                                                            <a href="https://namu.wiki/w/%ED%98%BC%EB%8B%A4%20%ED%9E%88%ED%86%A0%EB%AF%B8">
                                                                            <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                        </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="py-5 bg-light">
                                                            <div class="container">
                                                                <div class="row justify-content-around">
                                                                    <div class="col-md-3">
                                                                        <div class="card mb-3 shadow-sm">
                                                                            <img alt="조유리" height="" src="https://s3.namuwikiusercontent.com/s/ea3260ec207753e3bbd984793c6eb745556725ae164af22004adfa0708790f75930d44c388ae5f569c433a7c10413d2432c014d42320bc974dde47132eb7a0b18011d71a8ef8f05e57cfcd4514dbd275d86b34e7476ede0c645c0204d3560491" width="100%">
                                                                            <div class="card-body">
                                                                                <div class="card-text">
                                                                                    <p>
                                                                                         이름: 조유리
                                                                                    </p>
                                                                                    <p>
                                                                                         생일: 2001.10.22
                                                                                    </p>
                                                                                    <p>
                                                                                         신체: 160cm, 45kg, AB형
                                                                                    </p>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end align-items-center">
                                                                                    <div class="btn-group">
                                                                                        <a href="https://namu.wiki/w/%EC%A1%B0%EC%9C%A0%EB%A6%AC">
                                                                                        <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                                    </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="card mb-3 shadow-sm">
                                                                            <img alt="안유진" height="" src="https://s3.namuwikiusercontent.com/s/5f4430694865a34484c049ce44df77f19fa1c194870af76c64e5ff184a50ac64b6d8af6117ea68bde44b9cf21514b80f5926040f21eab23c9b3e852d7f656221bd5f86035d613493bce1721a298767fab6a37f434692439eba3fff8235ce9f90" width="100%">
                                                                            <div class="card-body">
                                                                                <div class="card-text">
                                                                                    <p>
                                                                                         이름: 안유진
                                                                                    </p>
                                                                                    <p>
                                                                                         생일: 2003.9.1
                                                                                    </p>
                                                                                    <p>
                                                                                         신체: 169cm, 48kg, A형
                                                                                    </p>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end align-items-center">
                                                                                    <div class="btn-group">
                                                                                        <a href="https://namu.wiki/w/%EC%95%88%EC%9C%A0%EC%A7%84">
                                                                                        <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                                    </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="card mb-3 shadow-sm">
                                                                            <img alt="장원영" height="" src="https://s3.namuwikiusercontent.com/s/ba16c46345b68a2e4d7aa288434b0124704a14f0d96b98598c9347b18b338730fc6628d5c508f2000c0143158687c0c8e14aadff2289d01347cecf7e693c900d616589b5e66f600c4bae1a62437f61c1453a78cc3c54e7f51c14564a7b86c6e3" width="100%">
                                                                            <div class="card-body">
                                                                                <div class="card-text">
                                                                                    <p>
                                                                                         이름: 장원영
                                                                                    </p>
                                                                                    <p>
                                                                                         생일: 2004.8.31
                                                                                    </p>
                                                                                    <p>
                                                                                         신체: 169cm, 47kg, O형
                                                                                    </p>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end align-items-center">
                                                                                    <div class="btn-group">
                                                                                        <a href="https://namu.wiki/w/%EC%9E%A5%EC%9B%90%EC%98%81(IZ*ONE)">
                                                                                        <button class="btn btn-sm btn-outline-secondary" type="button">More</button>
                                                                                        </a>
                                                                                    </div>




        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>